<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Hiking Trail</title>
</head>
<body>
<form action="/hikingTrails" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="hikingTrail[title]">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="hikingTrail[location]">
    </div>
    <button>Add Hiking Trail</button>
</form>
<a href="/hikingTrails">All Hiking Trails</a>
</body>
</html>